/* ============================== GLOBAL ============================== */
*,
*::before,
*::after {
   box-sizing: border-box;
}
.clear-fix {
   clear: both;
}
body {
   font-family: "Open Sans", sans-serif;
   background-color: #fff;
   overflow: hidden;
}
.container {
   width: var(--container-fluid);
   margin: 0 auto;
   padding: 0 10px;
}
@media (min-width: 576px) {
   .container {
      width: var(--container-sm);
   }
}
@media (min-width: 768px) {
   .container {
      width: var(--container-md);
   }
}
@media (min-width: 992px) {
   .container {
      width: var(--container-lg);
   }
}
@media (min-width: 1200px) {
   .container {
      width: var(--container-xl);
   }
}
@media (min-width: 1400px) and (max-width: 1600px) {
   .container {
      width: var(--container-xxl);
   }
}
html {
   scroll-behavior: smooth;
}
::-webkit-scrollbar {
   width: 14px;
}
::-webkit-scrollbar-track {
   background-color: #ccc;
}
::-webkit-scrollbar-thumb {
   background-color: var(--main-color);
}
:root {
   --container-xxl: 1320px;
   --container-xl: 1140px;
   --container-lg: 960px;
   --container-md: 720px;
   --container-sm: 540px;
   --container-xs: 100%;
   --container-fluid: 100%;
   --color-white: #fff;
   --color-light: #ccc;
   --color-light-option: #777;
   --main-color: #ff9800;
   --transition: all 0.3s linear;
}
ul {
   list-style: none;
   margin: 0;
}
a {
   text-decoration: none;
}
p {
   line-height: 1.7;
}
section:not(header section) {
   padding: 6rem 0;
}
img {
   width: 100%;
   display: inline-block;
}
.main-title h2 {
   text-align: center;
   text-transform: uppercase;
   color: var(--main-color);
   font-size: 2.5rem;
   font-weight: 900;
   position: relative;
   margin-bottom: 6rem;
   z-index: 1;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
   background: linear-gradient(to right, #222 50%, var(--main-color) 50%);
   -webkit-background-clip: text;
   background-clip: text;
}
.main-title + * {
   padding-top: 2rem;
}
.main-title h2::before {
   content: attr(data-title);
   position: absolute;
   z-index: -1;
   font-size: 8rem;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: rgba(0, 0, 0, 0.1);
}
/* ============================== loader ============================== */
.loader {
  position: absolute;
  inset: 0;
  z-index: 99999;
  background-color: #f6f6f6;
  display: grid;
  place-content: center;
color: var(--main-color);
transition: 1.5s linear 1s;
}
/* ============================== Setings ============================== */
.settings-box {
   position: fixed;
   z-index: 9999;
   max-width: 195px;
   left: calc(-195px);
   top: 0;
   height: 100%;
   background-color: #fff;
   transition: var(--transition);
   filter: drop-shadow(
      2px 2px 10px rgba(0, 0, 0, 0.3),
      3px 3px 5px rgba(0, 0, 0, 0.2),
      4px 4px 5px rgba(0, 0, 0, 0.1)
   );
}
.sett-con {
   height: 100%;
   overflow-y: scroll;
   padding: 1rem;
}
.settings-box.open {
   left: 0;
}
.settings-box .icon-toggle {
   position: absolute;
   left: 100%;
   top: 25%;
   background-color: var(--main-color);
   cursor: pointer;
   border-radius: 0 5px 5px 0;
}
.settings-box .icon-toggle .icon {
   padding: 10px;
}
.settings-box .icon-toggle:active {
   color: #555;
}
/* color option*/
.settings-box .option h3 {
   color: var(--color-light-option);
   font-size: calc(14 / 16 * 1rem);
}
.settings-box .option .colors-option {
   padding-left: 1rem;
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}
.settings-box .option .colors-option li {
   width: 25px;
   height: 18px;
   border-radius: 2px;
   background-color: #ff9800;
   opacity: 0.7;
   cursor: pointer;
}
.settings-box .option .colors-option li:nth-child(2) {
   background-color: #f44336;
}
.settings-box .option .colors-option li:nth-child(3) {
   background-color: #e91e63;
}
.settings-box .option .colors-option li:nth-child(4) {
   background-color: #9c27b0;
}
.settings-box .option .colors-option li:nth-child(5) {
   background-color: #673ab7;
}
.settings-box .option .colors-option li:nth-child(6) {
   background-color: #2196f3;
}
.settings-box .option .colors-option li:nth-child(7) {
   background-color: #03a9f4;
}
.settings-box .option .colors-option li:nth-child(8) {
   background-color: #00bcd4;
}
.settings-box .option .colors-option li:nth-child(9) {
   background-color: #009688;
}
.settings-box .option .colors-option li:nth-child(10) {
   background-color: #4caf50;
}
.settings-box .option .colors-option li:nth-child(11) {
   background-color: #8bc34a;
}
.settings-box .option .colors-option li:nth-child(12) {
   background-color: #ffc107;
}
.settings-box .option .colors-option li:nth-child(13) {
   background-color: #ff5722;
}
.settings-box .option .colors-option li:nth-child(14) {
   background-color: #795548;
}
.settings-box .option .colors-option li.active {
   opacity: 1;
   transform: scale(1.2);
   filter: drop-shadow(1px -1px 1px #555);
}
hr {
   border-top: 1px solid var(--main-color);
}
/* background img option */
.settings-box .option .op-y-n {
   display: flex;
   justify-content: center;
   gap: 12px;
}
.settings-box .option .op-y-n span {
   background-color: var(--main-color);
   display: block;
   border-radius: 3px;
   color: #fff;
   padding: 0.3rem 0.7rem;
   cursor: pointer;
   opacity: 0.5;
   font-size: 0.85rem;
}
.settings-box .option .op-y-n span.active {
   opacity: 1;
   transform: scale(1.2);
}
.settings-box .choose-background {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   display: none;
}
.settings-box .choose-background img {
   width: 100%;
   object-fit: contain;
   height: 80px;
   cursor: pointer;
}
/* ============================== Nav Bullets ============================== */
.nav-bullets {
   position: fixed;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
   z-index: 9999;
   display: block;
}
.nav-bullets .bullet {
   display: block;
   width: 15px;
   height: 15px;
   margin: 10px 0;
   border-radius: 50%;
   border: 2px solid var(--main-color);
   position: relative;
   transition: var(--transition);
}
.nav-bullets .bullet:is(:hover, .active) {
   transform: scale(1.5);
   background-color: var(--main-color);
}
.nav-bullets .bullet:hover .tooltip {
   display: block;
}
.nav-bullets .bullet .tooltip {
   position: absolute;
   right: 220%;
   top: 50%;
   white-space: nowrap;
   padding: 2px 8px;
   border-radius: 3px;
   color: #fff;
   background-color: var(--main-color);
   font-size: 0.8rem;
   transform: translateY(-50%);
   display: none;
   pointer-events: none;
   transition: var(--transition);
}
.nav-bullets .bullet .tooltip::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 0;
   margin-right: -11px;
   margin-top: -6px;
   border: 6px solid;
   border-color: transparent transparent transparent var(--main-color);
}
/* ============================== Landing ============================== */
main {
   overflow: hidden;
}
header.landing-area {
   background-image: url(../images/landing-1.jpg);
   background-size: cover;
   min-height: 100vh;
   position: relative;
   color: #fff;
   z-index: 1000;
   overflow: hidden;
}
.layer {
   position: absolute;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(5px);
   z-index: -1;
}
/* ---------- nav link ---------- */
nav .icon-menu {
   display: none;
}
header.landing-area .logo {
   font-size: 1.4em;
   font-weight: 700;
   color: var(--main-color);
   text-transform: uppercase;
   margin: 0;
}
header.landing-area nav.nav-link {
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   white-space: nowrap;
}
header.landing-area nav.nav-link.fixed {
   position: fixed;
   inset: 0;
   background-color: #fff;
   z-index: 8888;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
   padding: 0 1rem;
}
header.landing-area .nav-link ul.links {
   display: flex;
   align-items: center;
}
header.landing-area .nav-link ul.links a {
   display: flex;
   align-items: center;
   color: #fff;
   padding: 0 1em;
   margin: 0 0.2em;
   font-size: 0.75em;
   font-weight: 700;
   height: 70px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   position: relative;
   transition: var(--transition);
}
header.landing-area .nav-link ul.links a.fixed {
   color: #000;
}
header.landing-area .nav-link ul.links a::before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 3px;
   background-color: var(--main-color);
   transition: var(--transition);
}
header.landing-area .nav-link ul.links a.active::before {
   width: 100%;
}
header.landing-area .nav-link ul.links a:is(.active, :hover) {
   color: var(--main-color) !important;
   letter-spacing: 3px;
   font-weight: 900;
}
header.landing-area .landing-info {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 70%;
}
header.landing-area .landing-info span {
   color: var(--main-color);
}
header.landing-area .landing-info h1 {
   font-size: 3.5rem;
   font-weight: 900;
   margin-bottom: 1rem;
}
header.landing-area .landing-info p {
   color: var(--color-light);
   margin: 0;
   font-size: 0.9rem;
}
/* ============================== About Us ============================== */
.about-us {
   position: relative;
   overflow: hidden;
}
.about-us::before {
   content: "";
   mask-image: url(../images/blob.svg);
   -webkit-mask-image: url(../images/blob.svg);
   background-color: var(--main-color);
   width: 600px;
   height: 600px;
   position: absolute;
   z-index: -1;
   bottom: -100px;
   right: -200px;
}
.about-us .about-area {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   align-items: center;
   gap: 2rem;
}
.about-us .about-area p {
   color: var(--color-light-option);
}
.about-us svg {
   position: absolute;
   top: -200px;
   left: -200px;
   width: 600px;
   z-index: -1;
   fill: var(--main-color);
}
.about-us .about-area img {
   aspect-ratio: 16/9;
}
/* ============================== SKILS ============================== */
.skils {
   background: url(../images/our-skils.svg);
}
.skils .skils-area .skil-box {
   margin: 2rem 0;
   background-color: #efefef;
   color: var(--main-color);
   height: 40px;
   display: flex;
   align-items: center;
   padding: 0.3rem 1rem;
   text-transform: uppercase;
   border-radius: 5px;
}
@supports (-webkit-text-stroke: 1px var(--main-color)) {
   .skils .skils-area .skil-box {
      -webkit-text-stroke: 1px #777;
      -webkit-text-fill-color: var(--main-color);
   }
}
.skils .skils-area .skil-box h4 {
   width: 150px;
}
.skils .skils-area .skil-box .progress {
   background-color: rgba(204, 204, 204, 0.39);
   height: 100%;
   width: 100%;
   overflow: hidden;
   border-radius: 5px;
}
.skils .skils-area .skil-box .progress .progress-par {
   width: 0;
   height: 100%;
   background-color: var(--main-color);
   position: relative;
}
.skils .skils-area .skil-box .progress .progress-par::after {
   content: attr(data-num);
   position: absolute;
   padding: 5px;
   height: 100%;
   background-color: #fff;
   right: 0;
}
/* ============================== GALLARY ============================== */
.our-gallary .main-title h2 {
   position: relative;
   z-index: 1;
}
.our-gallary .main-title h2::before {
   color: rgba(0, 0, 0, 0.4);
}
.our-gallary {
   background: url(../images/our-gallary.svg) center / cover no-repeat;
}
.our-gallary .our-area {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.our-gallary .our-area div {
   padding: 3px;
   overflow: hidden;
}
.our-gallary .our-area div img {
   padding: 4px;
   background-color: #f6f6f6;
   border-color: #ddd;
   border-radius: 5px;
   aspect-ratio: 16/9;
   cursor: pointer;
   filter: grayscale(1);
   transition: var(--transition);
}
.our-gallary .our-area div img:hover {
   filter: grayscale(0);
   transform: scale(1.4) rotate(6deg);
}
.our-gallary .light-box {
   position: fixed;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}
.our-gallary .light-box .box-img {
   width: 80%;
   height: 80%;
   background-image: url(../images/g-1.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   border: 2px solid var(--main-color);
   border-radius: 5px;
}
.our-gallary .light-box .box-img i {
   color: #000;
   font-size: 1.2rem;
   cursor: pointer;
   padding: 0.5rem 1rem;
   background-color: var(--main-color);
   border-radius: 2px;
}
.our-gallary .light-box .box-img i.close {
   position: absolute;
   top: -15px;
   right: -15px;
}
.our-gallary .light-box .box-img i.next {
   position: relative;
   right: -20px;
}
.our-gallary .light-box .box-img i.preve {
   position: relative;
   left: -20px;
}
/* ============================== TIME LINE ============================== */
.timeline {
   background-color: rgb(0 0 0 / 0.04);
}
.timeline .year {
   position: relative;
   margin: 0.7rem auto;
   width: 40px;
   padding: 0.2rem;
   font-size: 0.75rem;
   font-weight: 900;
   border-radius: 2px;
   text-align: center;
   color: #fff;
   -webkit-text-fill-color: #fff;
   -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
   background-color: var(--main-color);
}
.timeline .timeline-content {
   position: relative;
   overflow: hidden;
}
/* line middle*/
.timeline .timeline-content::before {
   content: "";
   position: absolute;
   left: 50%;
   top: 0;
   margin-left: -1px;
   height: 100%;
   width: 2px;
   background-color: var(--main-color);
}
.timeline .timeline-content h3 {
   color: var(--main-color);
}
.timeline .timeline-content :is(.left, .right) {
   width: calc(50% - 30px);
   background-color: #f6f6f6;
   border-radius: 5px;
   border: 1px solid var(--main-color);
   padding: 0.3rem 1rem;
   margin: 1.5rem 0;
   position: relative;
}
.timeline .timeline-content .left {
   float: left;
}
.timeline .timeline-content .right {
   float: right;
}
/* bolite */
.timeline .timeline-content .left::after,
.timeline .timeline-content .right::after {
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   background-color: #fff;
   border: 2px solid var(--main-color);
   border-radius: 50%;
   top: 50%;
   margin-top: -7.5px;
}
.timeline .timeline-content .left::after {
   right: calc(-30px - 8.5px);
}
.timeline .timeline-content .right::after {
   left: calc(-30px - 8.5px);
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
   content: "";
   position: absolute;
   border-style: solid;
   border-width: 10px;
   top: 50%;
   transform: translateY(-50%);
}
.timeline .timeline-content .left::before {
   border-color: transparent transparent transparent var(--main-color);
   right: calc(-20px);
}
.timeline .timeline-content .right::before {
   left: calc(-20px);
   border-color: transparent var(--main-color) transparent transparent;
}
/* ============================== FETURE ============================== */
.feture {
   background-color: rgb(249 247 247);
}
.feture .feature-content {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.feture .feature-content .box {
   text-align: center;
   padding: 1rem;
   cursor: pointer;
}
.feture .feature-content .box img {
   width: 100px;
   border: 4px solid var(--main-color);
   padding: 0.2rem;
   border-radius: 50%;
   filter: grayscale(1);
   transition: var(--transition);
}
.feture .feature-content .box:hover img {
   filter: grayscale(0);
}
.feture .feature-content .box h3 {
   text-transform: uppercase;
   position: relative;
}
.feture .feature-content .box h3::after {
   content: "";
   position: absolute;
   top: 150%;
   left: 50%;
   margin-left: -25px;
   width: 50px;
   height: 3px;
   background-color: var(--main-color);
}
.feture .feature-content .box p {
   color: var(--color-light-option);
}
/* ============================== TESTIMONIAL ============================== */
.testimonail {
   background-image: linear-gradient(to right, var(--main-color) 50%, #333 50%);
   filter: drop-shadow(0 2px 5px #000);
}
.testimonail .testimonial-area {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 10px;
}
.testimonail .testimonial-area .ts-box {
   background-color: #fff;
   padding: 1rem;
   border-radius: 5px;
   filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}
.testimonail .testimonial-area .ts-box p {
   color: #777;
}
.testimonail .testimonial-area .ts-box img {
   all: unset;
   border-radius: 50%;
}
.testimonail .testimonial-area .ts-box .personail-info {
   display: flex;
   align-items: center;
   gap: 10px;
}
.testimonail .testimonial-area .ts-box .personail-info h5 {
   margin: 0;
   font-weight: 900;
   text-transform: uppercase;
   color: var(--main-color);
}
.testimonail .testimonial-area .ts-box .personail-info p {
   margin: 0.3rem;
   font-size: 0.7rem;
   font-weight: 700;
}
/* ============================== CONTACT ============================== */
.contact {
   background-image: url(../images/map.svg);
   position: relative;
   z-index: 2;
}
.contact .layer {
   background-color: rgb(249 247 247 / 70%);
   backdrop-filter: unset;
}
.contact form {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 20px;
}
.contact form :is(.form-left, .form-right) {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.contact form .form-left {
   align-self: flex-start;
}
.contact form input {
   height: 55px;
}
.contact form button {
   outline: unset;
   border: unset;
   height: 55px;
   flex-shrink: 0;
   cursor: pointer;
   background-color: var(--main-color);
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
}
.contact form button:active {
   background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.2),
      rgb(0 0 0 / 0.2)
   );
}
.contact form .data {
   position: relative;
   flex: 1;
}
.contact form :is(input, textarea) {
   outline: unset;
   border: 1px solid var(--main-color);
   padding: 10px;
   caret-color: var(--main-color);
   font-size: 0.85rem;
   color: #777;
   width: 100%;
   resize: vertical;
}
.contact form textarea {
   height: 100%;
}
.contact form :is(input, textarea):focus::placeholder {
   opacity: 0;
   transition: var(--transition);
}
.contact form label {
   position: absolute;
   left: 10px;
   top: calc(55px / 2);
   transform: translateY(-50%);
   color: #777;
   pointer-events: none;
}
.contact form :is(input, textarea):focus + label,
.contact form :is(input, textarea):not(:placeholder-shown) + label {
   top: 0;
   font-size: 0.8rem;
   background-color: #fff;
   transition: var(--transition);
}
/* ============================== FOOTER ============================== */
footer {
   text-align: center;
   background-color: var(--main-color);
   overflow: hidden;
   color: #333;
}
footer span {
   color: #fff;
}
/* ============================== MEDIA ============================== */
@media screen and (max-width: 1199.98px) {
   nav {
      font-size: 14px;
   }
}
@media screen and (max-width: 991.98px) {
   header.landing-area nav.nav-link {
      position: relative;
      z-index: 999;
   }
   header.landing-area .nav-link ul.links li a {
      color: #000;
   }
   header.landing-area nav.nav-link.fixed {
      background-color: transparent;
      box-shadow: unset;
   }
   nav .icon-menu {
      display: block;
   }
   header.landing-area .nav-link ul.links {
      position: absolute;
      top: 20px;
      right: 60px;
      flex-direction: column;
      width: 220px;
      padding-left: 0;
      display: none;
   }
   .show-nav {
      display: flex !important;
   }
   header.landing-area .nav-link ul.links li {
      width: 100%;
      animation: move-menu 0.4s cubic-bezier(0.42, 0.97, 0.52, 1.49) forwards;
      transform-origin: right top;
      opacity: 0;
   }
   header.landing-area .nav-link ul.links li a {
      justify-content: center;
      height: 38px;
      background-color: #fff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
   }
   header.landing-area .nav-link ul.links li:nth-child(2) {
      animation-delay: 0.2s;
   }
   header.landing-area .nav-link ul.links li:nth-child(3) {
      animation-delay: 0.4s;
   }
   header.landing-area .nav-link ul.links li:nth-child(4) {
      animation-delay: 0.6s;
   }
   header.landing-area .nav-link ul.links li:nth-child(5) {
      animation-delay: 0.8s;
   }
   header.landing-area .nav-link ul.links li:nth-child(6) {
      animation-delay: 1s;
   }
   header.landing-area .nav-link ul.links li:nth-child(7) {
      animation-delay: 1.2s;
   }
   header.landing-area .nav-link ul.links li:nth-child(8) {
      animation-delay: 1.4s;
   }
   header.landing-area .landing-info {
      width: 98%;
   }
   @keyframes move-menu {
      from {
         transform: rotateZ(-90deg) scale(0.1);
      }
      to {
         transform: rotateZ(0) scale(1);
         opacity: 1;
      }
   }
   nav .icon-menu {
      font-size: 1.8rem;
      cursor: pointer;
      display: block;
      padding: 2px 4px;
      border-radius: 3px;
      border: 1px solid var(--main-color);
      color: #333;
   }
}
@media screen and (max-width: 991.98px) {
   .about-us svg {
      fill: #eee;
   }
   .about-us::before {
      background-color: #eee;
   }
}
@media screen and (max-width: 576.98px) {
   * {
      text-align: center;
   }
   header.landing-area .landing-info h1 {
      font-size: 1.5rem;
   }
   .timeline .timeline-content :is(.left, .right) {
      width: 100%;
   }
   .timeline .timeline-content :is(.left, .right)::after,
   .timeline .timeline-content :is(.left, .right)::before {
      all: unset;
   }
}
